<!DOCTYPE html>
<html>
    <head>
        <title>Give command generator</title>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="Description" content="A generator for the bedrock give command that supports item locking and keep on death components">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
        <link rel="stylesheet" type="text/css" href="src/css/style.css">
        <link rel="shortcut icon" type="image/png" href="icon.png"/>
    </head>
    <body>

        <div id="app">
            <span class="title"><h2>Give command generator</h2></span>
            <div class="options">
                <input v-model="selector" placeholder="selector">
                <input v-model="item" placeholder="item">
                <input v-model="amount" placeholder="amount">
                <input v-model="data" placeholder="data">

                <input type="checkbox" id="keepOnDeath" value="keepOnDeath" v-model="keepOnDeath">
                <label for="keepOnDeath">Keep on Death</label>

                <input :disabled="lockInSlot" type="checkbox" id="lockInInventory" value="lockInInventory" v-model="lockInInventory">
                <label for="john">Lock in inventory</label>
            
                <input :disabled="lockInInventory" type="checkbox" id="lockInSlot" value="lockInSlot" v-model="lockInSlot">
                <label for="lockInSlot">Lock in slot</label>

                <button @click="genCommand(item, amount, data, keepOnDeath, lockInInventory, lockInSlot, selector)">Generate command</button>
                <p>Give command: {{ command }}</p>
            </div>
        </div>

        <script src="src/js/index.js"></script>
    </body>
</html>
