body {
    font-family: tahoma;
    color:#eee4e4;
    background-color: #242424;
  }
  
  button {
    border: #000000;
    background-color: #0075FF;
    color: rgb(250, 227, 226);
    height: 40px;
    width: 100px;
    font-size: 14px;
    margin: 30px;
  }

  input {
    width: 50px;
    height: 25px;
    margin-bottom: 20px;
  }

  textarea {
    width: 50%;
    height: 60px;
  }

  .title {
    /* Center vertically and horizontally */
    position: absolute;
    top: 25%;
    left: 40%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }

  .options {
    /* Center vertically and horizontally */
    position: absolute;
    top: 40%;
    left: 20%;
    margin: -25px 0 0 -25px; /* apply negative top and left margins to truly center the element */
  }
